<h1>we admining rn</h1>
<a href="/">return</a><br>
<a>delete user xd</a>
<form action="/deluser" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    username
    <input type="text" name="user"><br><br>
    this action cannot be reversed, are you sure <br>
    <input type="checkbox" name="yeahimsure"> yeah<br><br>
    <input type="submit" value="terminate">
   
</form>
<hr>
<a>delete clique</a>
<form action="/delclique" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    clique
    <input type="text" name="clique"><br><br>
    this action cannot be reversed, are you sure <br>
    <input type="checkbox" name="yeahimsure"> yeah<br><br>
    <input type="submit" value="terminate">
</form>
{%if bigboss == True%}
<hr>
<a>remove admin from user</a><br>
<form action="/deladmin" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    username
    <input type="text" name="user"><br><br>
    this action cannot be reversed, are you sure <br>
    <input type="checkbox" name="yeahimsure"> yeah<br><br>
    <input type="submit" value="terminate">
</form>
<hr>
<a>give admin to user</a><br>
<form action="/giveadmin" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    username
    <input type="text" name="user"><br><br>
    this action can be reversed, are you still sure <br>
    <input type="checkbox" name="yeahimsure"> yeah<br><br>
    <input type="submit" value="empower">
</form>
{%endif%}

{% with error = get_flashed_messages() %}
    {% if error %}
        {% for errors in error %}
            {{errors}}
        {%endfor%}
    {%endif%}
{%endwith%}

