<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
{%if session.username%}
<h2>your clique: {{userclique}}</h2>
<p>type the name of the clique you wish to join or create</p>
<p>your clique will gain points as you do</p>
<form action="/cliques" method="POST">
    <h3>join clique</h3>   
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<input type="text" name="clique" maxlength="100">
<input type="submit" value="submit" class="anotherbutton">
</form>
<form action="/leaveclique" method="POST">
<h3>leave clique</h3>  
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<input type="submit" value="leave" class="anotherbutton"> 
</form>

<a href="/">return</a><br>
{% with error = get_flashed_messages() %}
    {% if error %}
        {% for errors in error %}
            {{errors}}
        {%endfor%}
    {%endif%}
{%endwith%}
{%else%}
<a href="/login">try logging in</a>
{%endif%}