{%if session.username%}
<h1>moi</h1>
<a href="/logout">hei hei</a><br>
<script>
var x = 0;
var oldscore = Number('{{score}}')
<!--yeah so the vision here is to make a counter thing and edit the hidden form below-->
function up(){
    x++;
    document.getElementById('formthingy').value = x;
    document.getElementById('up').innerText = x+oldscore;
    //alert(document.getElementById("formthingy").value);
    
}
</script>
Counter: <span id="up">{{score}}</span> <br>
<button onclick="up()">nappi</button>
<form action="/" method="POST">
    <!--this below is the thingy edited by the script-->
<input type="hidden" value="0" id="formthingy" name="formthing">
<input type="submit" value="save">
</form>
<a>{{leaders}}</a>

{%else%}
<a href="/login">login</a><br>
<a href="/signup">signup</a>
{%endif%}