<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
{%if session.username%}
<h1>you are: {{session.username}}</h1>
{%if adminstatus == True%}
<a href="/admin">admin</a>
{%endif%}
<a href="/cliques">cliques</a><br>
<script>
var x = 0;
var oldscore = Number('{{score}}')

function up(){
    x++;
    document.getElementById('formthingy').value = x;
    document.getElementById('up').innerText = x+oldscore;
    
}
</script>


Counter: <span id="up">{{score}}</span> <br>
<button onclick="up()" class="thebutton">click this</button>
<form action="/" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <!--this below is the thingy edited by the script-->
<input type="hidden" value="0" id="formthingy" name="formthing">
<input type="submit" value="save">
</form>
<a>top 10 clickers</a>
{% for i in leaders %}
<li>{{i[0]}}:{{i[1]}}</li>
{%endfor%}
<br>
<a>top 10 cliques</a>
{% for i in cliques %}
<li>{{i[0]}}:{{i[1]}}</li>
{%endfor%}
<a href="/logout">logout</a><br>
{%else%}
<h1>Total score: {{total}}</h1>
<p>try logging in or creating an user</p>
<a href="/login">login</a><br>
<a href="/signup">signup</a>
{%endif%}