{%if session.username%}
<p>{{session.username}}</p>
{%else%}
<p>create user & stuff</p>
<form action="/signup" method="POST">
<p>nimi
<input type="text" name="username"maxlength="25"></p>
<p>salasana
<input type="password" name="password" maxlength="100"></p>
<input type="submit" value="create user">
</form>
<a href="/">return</a><br>
{% with error = get_flashed_messages() %}
    {% if error %}
        {% for errors in error %}
            {{errors}}
        {%endfor%}
    {%endif%}
{%endwith%}
{%endif%}